.roomList {
  width: 100%;

  h2 {
    color: $darkGrey;
    margin-bottom: 0;
    position: relative;
    .edit {
      background-color: $lightColour;
      padding: 5px 15px;
      font-size: 0.5em;
      position: absolute;
      right: 0;
      bottom: 0;
      line-height: 1.7em;
      color: $white;
      text-decoration: none;
      display: none;
    }
  }

  ul {
    padding-bottom: 40px;
    li.addItem {
      a {
        display: block;
        background-color: $darkColour;
        color: $white;
        padding: 10px;
        height: 40px;
        box-sizing: border-box;
        line-height: 20px;
        text-decoration: none;
        text-align: center;
        width: 102%;
        margin-left: -1%;
        z-index: $layer2Index;
        box-shadow: $layer2Shadow;
        position: relative;

      }
    }
  }
}
.roomList.editable {
  h2:hover {
    .edit {
      display: block;
    }
  }
}