.page.userList{
  background-color: $lightGrey;
  .list {
    width: 100%;
    max-width: 500px;
    margin: 0 auto 50px;
  }
  .addRoomButton, .manifestLink {
    background-color: $darkColour;
    color: $white;
    padding: 5px 15px;
    text-decoration: none;
    float: left;
  }
  .manifestLink{
    float: right;
  }
}

.page.userList.loading {
  .addRoomButton, .manifestLink {
    display: none;
  }
}